
{% for k,v in contrail_configuration.iteritems() %}
{% if ((instances[instance_name].contrail_configuration is defined and
        instances[instance_name].contrail_configuration is not none and
        k in instances[instance_name].contrail_configuration.keys()) or
       (instances[instance_name].roles.vrouter is defined and
        instances[instance_name].roles.vrouter is not none and
        k in instances[instance_name].roles.vrouter.keys())) %}
{# Skip elements that a higher precedence value in either contrail_configuration
    under each instance or under the vrouter role definition #}
{% else %}
{{ k }}={{ v }}
{% endif %}
{% endfor %}

{% if (instances[instance_name].contrail_configuration is defined and
       instances[instance_name].contrail_configuration is not none) %}
{% for k,v in instances[instance_name].contrail_configuration.iteritems() %}
{% if (instances[instance_name].roles.vrouter is defined and
       instances[instance_name].roles.vrouter is none or
       (instances[instance_name].roles.vrouter is not none and
        k not in instances[instance_name].roles.vrouter.keys())) %}
{{ k }}={{ v }}
{% endif %}
{% endfor %}
{% endif %}

{% if (instances[instance_name].roles.vrouter is defined and
       instances[instance_name].roles.vrouter is not none) %}
{% for k,v in instances[instance_name].roles.vrouter.iteritems() %}
{{ k }}={{ v }}
{% endfor %}
{% endif %}

